parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method DOMNameSpaceNode\|DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Hametuha/ForYourEyesOnly/Parser.php
